.wy-nav-content {
    max-width: 1000px !important;
}

.wy-breadcrumbs-aside {
  visibility: hidden;
}

.img {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 1px;
  max-width: 100%;
  height: auto;
}